{% extends 'base.html' %}

{% block container %}
<link href="/static/css/signup.css" rel="stylesheet">
<div class="sidenav">
         <div class="login-main-text">
            <h2>Paple<br> Sign up page </h2>
            <p>Sign up in here</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form action="." method="post" href="{% url 'account:signup' %}">
                   {% csrf_token %}
                  <div class="form-group">
                  {{ message }}
                      {% for field in signup_form %}
                          <div>
                              {{ field.label }}
                              {{ field}}

                          </div>
                      {% endfor %}

                  </div>
                  <button type="submit" class="btn btn-black"> Sign Up </button>
               </form>
            </div>
         </div>
      </div>


{% endblock %}
